<%- include('../partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>

        <% if (errors && errors.length> 0) { %>
            <ul class="error-list">
                <% errors.forEach(function(error) { %>
                    <li>
                        <%= error.msg %>
                    </li>
                    <% }) %>
            </ul>
            <% } %>

                <% if (message) { %>
                    <div class="message">
                        <%= message %>
                    </div>
                    <% } %>

                        <!-- === Account Info Update Form === -->
                        <section>
                            <h2>Update Account Information</h2>
                            <form action="/account/update-account" method="POST">
                                <label for="firstname">First Name</label>
                                <input type="text" id="firstname" name="firstname" required
                                    value="<%= accountData.firstname %>">

                                <label for="lastname">Last Name</label>
                                <input type="text" id="lastname" name="lastname" required
                                    value="<%= accountData.lastname %>">

                                <label for="email">Email</label>