<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <div id="wrapper">
        <%- include('../partials/header') %>
            <%- include('../partials/nav') %>

                <main>
                    <%- body %> <!-- This will be filled by child views -->
                </main>

                <%- include('../partials/footer') %>
    </div>
</body>

</html>